body {
	background-color: rgba(233,233,233, 0.8);
	padding-top: 90px;
}
.panel-primary > .panel-heading {
    background-image: none;
    background-color: rgb(50,153,187);
    color: white;
}

#beername, #beertext, #brewname, #brewdescription {
	text-align: center;
}

#thumbnailblue{
	background-color: #fff;
}
.label-straw {
  background-color: #E4D96F;
}
.label-deepgold {
  background-color: #E7CA55;
}
.label-paleamber {
  background-color: #EEBC1D;
}
.label-amber {
  background-color: #ffbf00;
}
.label-amberbrown {
  background-color: #F09000;
}
.label-rubybrown {
  background-color: #6B3636;
}
.label-deepbrown {
  background-color: #301800;
}
.label-black {
  background-color: #000;
}