<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>My Example</title>
<!-- Bootstrap 4 alpha CSS -->
<!-- IMPORTANT: Don't use this .css file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<style type="text/css">
body {
padding-top: 1em;
} 
</style> 
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://127.0.0.1:5000" >BeerBud</a>
        </div>
        <form class="navbar-form navbar-left" action="/beer" method="POST" role="search">
          <div class="form-group">
            <input type="text" name="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" name="input" value="Search" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
          <br>
          <input type="radio" name="type" value="beer" checked="checked"> Beer
          <input type="radio" name="type" value="brewery"> Brewery
          <input type="radio" name="type" value="location"> Location
        </form>
      </div><!-- /.container-fluid -->
    </div><!-- ./container -->
  </nav><!-- /.navbar navbar-inverse -->



<body>
<div class="container-fluid">
    
<nav class="navbar navbar-light bg-faded">

<!-- Brand -->
<a class="navbar-brand" href="#">BeerBud</a>

<!-- Search -->
<form class="form-inline navbar-form pull-right" role="search">
<input type="text" class="form-control">
<button type="submit" class="btn btn-secondary">Search</button>
</form>
</nav>

</div>
    
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Bootstrap 4 Alpha JS -->
<!-- IMPORTANT: Don't use this .js file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> 
</body>
</html>



    <!--Checks if results is empty, if so print 'no beers available'-->
    {% if(results != []) %}
    {% if(button == 'beer') %}
      <!--Cycles through all entries in results list-->
  		{% for item in results %}
  		<div class="container" id="beerentry">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">                  
              <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'label'-->
                  <article id="beerlabel">
                  {% if (item['labels'] == NULL) %}
                    <img src="/static/minibeer.png" alt="dark beer" height="64" width="64">
                  {% else %} 
                    <img src="{{item['labels']['medium']}}" alt="label" height="64" width="64"> 
                  {% endif %}
                  {{ item['name'] }}
                  </article>
                  </div>
              <div class="panel-body"> 
                <!--If there is no description-->
            		<article id="beerdescription">
                  {% if (item['description'] == NULL) %}
                    No description available
                  {% else %}
                    {{ item['description'] }}
                  {% endif %}
                  </article>
                  <article id="beerabv">
                  {% if (item['abv'] == NULL) %}
                    No abv available
                  {% else %}
                    abv: 
                    {{ item['abv'] }}%
                  {% endif %}
                  </article> 
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
                  <article id="beerstyle">
                  {% if (item['style'] == NULL) %}
                    No style available
                  {% else %}
                    style: 
                    {{ item['style']['name'] }}
                  {% endif %}
                  </article>
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
                  <article id="beerglass">
                  {% if (item['glass'] == NULL) %}
                    No glass info available
                  {% else %}
                    Best served in  
                    {{ item['glass']['name'] }} glass.
                  {% endif %}
                  </article>
                </div><!--Panel body end -->
              </div><!--Panel container end-->   
      		  </div>
      	   </div>
	    {% endfor %}
    {% elif(button == 'brewery') %}
      <!--Cycles through all entries in results list-->
      {% for item in results %}
      <div id="brewentry">
        <h3 id="brewname">{{ item['name'] }}</h3>
          <!--If there is no description-->
          <article id="brewdescription">
            {% if (item['description'] == NULL) %}
            {% else %}
              {{ item['description'] }}
            {% endif %}
            </article>
            <article id="brewsite">
            {% if (item['website'] == NULL) %}
            {% else %}
              website:
              <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
            {% endif %}
            </article> 
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
            <article id="brewestablished">
            {% if (item['established'] == NULL) %}
            {% else %}
              established: 
              {{ item['established'] }}
            {% endif %}
            </article>
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
            <article id="brewimages">
            {% if (item['images'] == NULL) %}
              No glass info available
            {% else %} 
              <img src="{{item['images']['medium']}}" alt="brewerypicture" height="42" width="42"> 
            {% endif %}
            </article>
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'label'-->
            <article id="brewaddress">
            {% if (item['streetAddress'] == NULL) %}
            {% else %} 
              {{ item['streetAddress'] }}
            {% endif %}
            </article>
          <!--Seperates################################################each entry-->    
          <hr>
          {% endfor %}
    {% elif(button == 'location') %}
      <!--Cycles through all entries in results list-->
      {% for item in results %}
      <div id="brewentry">
        <h3 id="brewname">{{ item['brewery']['name'] }}</h3>
          <!--If there is no description-->
          <article id="brewdescription">
            {% if (item['brewery']['description'] == NULL) %}
            {% else %}
              {{ item['brewery']['description'] }}
            {% endif %}
            </article>
            <article id="brewsite">
            {% if (item['website'] == NULL) %}
            {% else %}
              website:
              <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
            {% endif %}
            </article> 
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
            <article id="brewestablished">
            {% if (item['established'] == NULL) %}
            {% else %}
              established: 
              {{ item['established'] }}
            {% endif %}
            </article>
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
            <article id="brewimages">
            {% if (item['images'] == NULL) %}
            {% else %} 
              <img src="{{item['images']['medium']}}" alt="brewerypicture" height="42" width="42"> 
            {% endif %}
            </article>
            <article id="brewaddress">
            {% if (item['streetAddress'] == NULL) %}
            {% if (item['locality'] == NULL) %}
            {% if (item['postalCode'] == NULL) %}
            {% if (item['region'] == NULL) %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %} 
              {{ item['streetAddress'] }}, {{ item['locality'] }}, {{ item['region'] }} {{ item['postalCode']}}
            {% endif %}
            </article>
          <!--Seperates################################################each entry-->    
          <hr>
          {% endfor %}
    {% endif %}
    {% else %}
      <h3>No {{button}} available by that name.</h3>
    {% endif %}
</body>
</html>
