<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeerStuff</title>

<link rel="stylesheet" href="/static/stylesheets/bootstrap.css" type="text/css"/>

<link href="/static/stylesheets/master.css" rel="stylesheet" type="text/css"/> 
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="http://127.0.0.1:5000">BeerBud</a>
    <!-- Links -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('randombeer') }}">Random Beer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Random Brewery</a>
      </li>
    </ul>
    <!-- Search -->
    <form class="form-inline navbar-form pull-left" action="/beer" method="POST" role="search">
      <input type="text" name="text" class="form-control" placeholder="Search">
      <button type="submit" name="input" value="Search" class="btn btn-secondary">Brew!</button>
      <br>
      <input type="radio" name="type" value="beer" checked="checked"> Beer
      <input type="radio" name="type" value="brewery"> Brewery
      <input type="radio" name="type" value="location"> Location
    </form>
  </nav>

<div class="container beercont">
  <!--Checks if results is empty, if so print 'no beers available'-->
  {% if(results != []) %}
    {% if(button == 'beer') %}
      <div class="col-lg-12">
        <!--Cycles through all entries in results list-->
        {% for item in results %}
          <!--Checks if item object has available attribute-->
          {% if (item['available'] == NULL) %}
          <!--if not available do not print-->
          {% elif (item['available']['id'] == 3) %}
          <!--If available print-->
          {% else %}
          <!--Creates thumbnail div class-->
          <div class="thumbnail">
            {% if (item['labels'] == NULL) %}
              <!--Default beer picture-->
              <img src="/static/minibeer.png" alt="dark beer" height="240" width="200">
            {% else %}
              <img src="{{item['labels']['large']}}" alt="label" height="190" width="190" > 
            {% endif %}
            <!--creates div for text-->
            <div class="caption">
              <h3 id="beername">{{ item['name'] }} ({{ item['available']['name'] }})</h3>
              <p id="beertext">
                {% if (item['description'] == NULL) %}
                No description available
                {% else %}
                {{ item['description'] }}
                {% endif %}
              <ul class="list-group">
                {% if (item['abv'] == NULL) %}
                {% else %}
                <!--Checks abv if <=5 green, if from 5 to 10 yellow, if over 10 red-->
                {% if (item['abv']|float < 5) %}
                <h4> <span class="label label-success pull-left">  
                {% elif (item['abv']|float < 10 and item['abv']|float >= 5) %} 
                <h4> <span class="label label-warning pull-left"> 
                {% else %}
                <h4> <span class="label label-danger pull-left"> 
                {% endif %}         
                abv: 
                {{ item['abv'] }}%
                {% endif %} 
                </span>
                </h4>

                <!--Beer color indicator-->
                {% if (item['srm'] == NULL) %}
                {% else %}
                {% if (item['srm']['id']|float >= 0 and item['srm']['id']|float < 4) %}
                <h4><span class="label label-straw pull-left">
                {% elif (item['srm']['id']|float >= 4 and item['srm']['id']|float < 8) %}
                <h4><span class="label label-deepgold pull-left">
                {% elif (item['srm']['id']|float >= 8 and item['srm']['id']|float < 12) %}
                <h4><span class="label label-paleamber pull-left">
                {% elif (item['srm']['id']|float >= 12 and item['srm']['id']|float < 15) %}
                <h4><span class="label label-amber pull-left">
                {% elif (item['srm']['id']|float >= 15 and item['srm']['id']|float < 20) %}
                <h4><span class="label label-amberbrown pull-left">
                {% elif (item['srm']['id']|float >= 20 and item['srm']['id']|float < 25) %}
                <h4><span class="label label-rubybrown pull-left">
                {% elif (item['srm']['id']|float >= 25 and item['srm']['id']|float < 40) %}
                <h4><span class="label label-deepbrown pull-left">
                {% else %}
                <h4><span class="label label-black pull-left">
                {% endif %}
                srm: {{ item['srm']['id'] }}
                {% endif %} 
                </span>                
                </h4>

                <!--Beer bitterness(ibu) indicator-->
                {% if (item['ibu'] == NULL) %}
                {% else %}
                <h4><span class="label label-primary pull-left">
                ibu: {{ item['ibu'] }}
                {% endif %} 
                </span>                
                </h4>
                <br>

                <!--Beer style-->
                {% if (item['style'] == NULL) %}
                {% else %}
                <h4><span class="label label-default">
                {{ item['style']['name'] }}
                {% endif %}
                </span>
                </h4>

                <!--Beer glass type-->
                {% if (item['glass'] == NULL) %}
                {% else %}
                <h4><span class="label label-default">
                Best served in  
                {{ item['glass']['name'] }} glass.
                {% endif %}
                </span>
                </h4>
              </ul><!--List group-->
            </p>
            </div><!--caption-->
          </div><!--thumbnail-->
          {% endif %}<!--if(item['available'])-->
        {% endfor %}<!--for item in results-->
        </div><!--col-xx-xx-->
    {% elif(button == 'brewery') %}
      <div class="col-sm-12">
          <!--Cycles through all entries in results list-->
          {% for item in results %}
            <div class="thumbnail">
              <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
              {% if (item['images'] == NULL) %}
              <img src="/static/minibeer.png" align="middle" alt="dark beer" height="240" width="350">
              {% else %} 
              <img src="{{item['images']['medium']}}" alt="brewerypicture" height="240" width="350"> 
              {% endif %}
              <div class="caption">
                <h3 id="brewname">{{ item['name'] }}</h3>
                <p id="brewdescription">
                  {% if (item['description'] == NULL) %}
                  {% else %}
                  {{ item['description'] }}
                  {% endif %}
                </p>
                {% if (item['website'] == NULL) %}
                {% else %}   
                  <h4><span class="label label-success">       
                    website:
                    <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
                  </span> 
                </h4> 
                {% endif %}

                <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
                {% if (item['established'] == NULL) %}
                {% else %}
                    established: 
                    {{ item['established'] }}
                    <br>
                {% endif %}
              <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'label'-->
              {% if (item['streetAddress'] == NULL) %}
              {% else %} 
                {{ item['streetAddress'] }}
              {% endif %}
              </div><!--caption-->
            </div><!--thumbnail-->
            {% endfor %}
        </div><!--col-sm-12-->
        {% elif(button == 'location') %}
          <div class="col-sm-12">
              <!--Cycles through all entries in results list-->
              {% for item in results %}
              <div class="thumbnail">
                {% if (item['images'] == NULL) %}
                  <img src="/static/brewery.jpg" align="middle" alt="dark beer" height="240" width="350">
                {% else %} 
                  <img src="{{item['images']['medium']}}" alt="brewerypicture" height="240" width="350"> 
                {% endif %}
                <div class="caption">
                  <h4 id="brewname">{{ item['brewery']['name'] }}</h4>
                  <!--If there is no description-->
                  <p id="brewdescription">
                  {% if (item['brewery']['description'] == NULL) %}
                  {% else %}
                    {{ item['brewery']['description'] }}
                  {% endif %}
                  </p>
                    {% if (item['website'] == NULL) %}
                    {% else %}
                    website:
                    <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
                  {% endif %}
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
                  {% if (item['established'] == NULL) %}
                  {% else %}
                    established: 
                    {{ item['established'] }}
                  {% endif %}
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
                  {% if (item['streetAddress'] == NULL) %}
                  {% if (item['locality'] == NULL) %}
                  {% if (item['postalCode'] == NULL) %}
                  {% if (item['region'] == NULL) %}
                  {% endif %}
                  {% endif %}
                  {% endif %}
                  {% else %} 
                      {{ item['streetAddress'] }}, {{ item['locality'] }}, {{ item['region'] }} {{ item['postalCode']}}
                  {% endif %}
                </div><!--thumbnail-->
              </div><!--caption-->
              {% endfor %}<!--for item in results-->
          </div><!--col-sm-12-->
        {% endif %}
  {% else %}<!--empty results else-->
    <h3>No {{button}} available by that name.</h3>
  {% endif %}<!--results ==null-->
  </div><!--Container-->
</div>

  <div class="navbar-default navbar-static-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2015 - Site Built By Mr. Hansen.
           <a href="http://127.0.0.1:5000" target="_blank" >BeerBud</a>
      </p>
    </div>
  </div>
</body>
</html>