<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeerStuff</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0-flex.css">

<link href="/static/stylesheets/master.css" rel="stylesheet" type="text/css"/> 
</head>
<body>

  <nav class="navbar navbar-light bg-faded navbar-fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="http://127.0.0.1:5000">BeerBud</a>
    <!-- Links -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('randombeer') }}">Random Beer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Random Brewery</a>
      </li>
    </ul>
    <!-- Search -->
    <form class="form-inline navbar-form pull-left" action="/beer" method="POST" role="search">
      <input type="text" name="text" class="form-control" placeholder="Search">
      <button type="submit" name="input" value="Search" class="btn btn-secondary">Brew!</button>
      <br>
      <input type="radio" name="type" value="beer" checked="checked"> Beer
      <input type="radio" name="type" value="brewery"> Brewery
      <input type="radio" name="type" value="location"> Location
    </form>
  </nav>

<div class="container">
  <!--Checks if results is empty, if so print 'no beers available'-->
  {% if(results != []) %}
    {% if(button == 'beer') %}
      <div class="col-sm-12">
        <div class="card-columns">
        <!--Cycles through all entries in results list-->
        {% for item in results %}
          {% if (item['available'] == NULL) %}
          {% elif (item['available']['id'] == 3) %}
          {% else %}
          <div class="card">
            {% if (item['labels'] == NULL) %}
              <img class="card-img-top" src="/static/minibeer.png" align="middle" alt="dark beer" height="240" width="350">
            {% else %} 
              <img class="card-img-top" src="{{item['labels']['medium']}}" align="middle" alt="label" height="240" width="350" > 
            {% endif %}
            <div class="card-block">
              <h4 class="card-title">{{ item['name'] }} ({{ item['available']['name'] }})</h4>
              <p class="card-text">
                {% if (item['description'] == NULL) %}
                No description available
                {% else %}
                {{ item['description'] }}
                {% endif %}
              </p>
              <ul class="list-group list-group-flush">
                {% if (item['abv'] == NULL) %}
                {% else %}
                <li class="list-group-item">              
                abv: 
                {{ item['abv'] }}%
                {% endif %}
                </li>
                {% if (item['style'] == NULL) %}
                {% else %}
                <li class="list-group-item">
                style: 
                {{ item['style']['name'] }}
                {% endif %}
                </li>
                {% if (item['glass'] == NULL) %}
                {% else %}
                <li class="list-group-item">
                Best served in  
                {{ item['glass']['name'] }} glass.
                {% endif %}
                </li>
              </ul>
            </div><!--card-block-->
          </div><!--card-->
          {% endif %}<!--if(item['available'])-->
        {% endfor %}<!--for item in results-->
        </div><!--card-columns-->
      </div><!--col-sm-12-->
    {% elif(button == 'brewery') %}
      <div class="col-sm-12">
        <div class="card-columns">
          <!--Cycles through all entries in results list-->
          {% for item in results %}
            <div class="card">
              <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
              {% if (item['images'] == NULL) %}
              <img class="card-img-top" src="/static/minibeer.png" align="middle" alt="dark beer" height="240" width="350">
              {% else %} 
              <img class="card-img-top" src="{{item['images']['medium']}}" alt="brewerypicture" height="240" width="350"> 
              {% endif %}
              <div class="card-block">
                <h4 class="card-title" id="brewname">{{ item['name'] }}</h4>
                <p class="card-text" id="brewdescription">
                  {% if (item['description'] == NULL) %}
                  {% else %}
                  {{ item['description'] }}
                  {% endif %}
                </p>
                <ul class="list-group list-group-flush">
                {% if (item['website'] == NULL) %}
                {% else %}
                  <li class="list-group-item">           
                    website:
                    <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
                {% endif %}
                  </li> 
                <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
                {% if (item['established'] == NULL) %}
                {% else %}
                  <li class="list-group-item">
                    established: 
                    {{ item['established'] }}
                {% endif %}
                  </li>
              <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'label'-->
              {% if (item['streetAddress'] == NULL) %}
              {% else %} 
                <li class="list-group-item">
                {{ item['streetAddress'] }}
              {% endif %}
                </li>
              </div><!--card-block-->
            </div><!--card-->
            {% endfor %}
          </div><!--card-column-->
        </div><!--col-sm-12-->
        {% elif(button == 'location') %}
          <div class="col-sm-12">
            <div class="card-columns">
              <!--Cycles through all entries in results list-->
              {% for item in results %}
              <div class="card">
                {% if (item['images'] == NULL) %}
                  <img class="card-img-top" src="/static/brewery.jpg" align="middle" alt="dark beer" height="240" width="350">
                {% else %} 
                  <img class="card-img-top" src="{{item['images']['medium']}}" alt="brewerypicture" height="240" width="350"> 
                {% endif %}
                <div class="card-block">
                  <h4 class="card-title" id="brewname">{{ item['brewery']['name'] }}</h4>
                  <!--If there is no description-->
                  <p class="card-text" id="brewdescription">
                  {% if (item['brewery']['description'] == NULL) %}
                  {% else %}
                    {{ item['brewery']['description'] }}
                  {% endif %}
                  </p>
                  <ul class="list-group list-group-flush">
                    {% if (item['website'] == NULL) %}
                    {% else %}
                  <li class="list-group-item">
                    website:
                    <a href="{{ item['website'] }}" target="_blank">{{ item['website'] }}</a>
                  {% endif %}
                  </li> 
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
                  {% if (item['established'] == NULL) %}
                  {% else %}
                  <li class="list-group-item">
                    established: 
                    {{ item['established'] }}
                  {% endif %}
                  </li>
                  <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
                  {% if (item['streetAddress'] == NULL) %}
                  {% if (item['locality'] == NULL) %}
                  {% if (item['postalCode'] == NULL) %}
                  {% if (item['region'] == NULL) %}
                  {% endif %}
                  {% endif %}
                  {% endif %}
                  {% else %} 
                    <li class="list-group-item">
                      {{ item['streetAddress'] }}, {{ item['locality'] }}, {{ item['region'] }} {{ item['postalCode']}}
                  {% endif %}
                    </li>
                </div><!--card-block-->
              </div><!--card-->
              {% endfor %}<!--for item in results-->
            </div><!--card-column-->
          </div><!--col-sm-12-->
        {% endif %}
  {% else %}<!--empty results else-->
    <h3>No {{button}} available by that name.</h3>
  {% endif %}<!--results ==null-->
  </div><!--Container-->

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2015 - Site Built By Mr. Hansen.
           <a href="http://127.0.0.1:5000" target="_blank" >BeerBud</a>
      </p>
    </div>
  </div>
</body>
</html>



