<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeerStuff</title>
</head>
<body>
  <div class="fixed-nav-bar">
      <h1>BeerFinder</h1>  
  </div>  
  <!--Form for user input to search for beer-->
  <form action="/beer" method="POST">
    <input type="text" name="text">
    <input type="submit" name="input" value="Send">
  </form>
	<ul class= "grid">
    <!--Checks if results is empty, if so print 'no beers available'-->
    {% if(results != []) %}
      <!--Cycles through all entries in results list-->
  		{% for item in results %}
  		<div id="beerentry">
      		<h3>{{ item['name'] }}</h3>

            <!--If there is no description-->
      			<article id="description">{% if (item['description'] == NULL) %}
              No description available
              {% else %}
              {{ item['description'] }}
              {% endif %}
            </article>
            <article id="abv">{% if (item['abv'] == NULL) %}
              No abv available
              {% else %}
              abv: 
              {{ item['abv'] }}%
              {% endif %}
            </article> 
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'style'-->
            <article id="style">{% if (item['style'] == NULL) %}
              No style available
              {% else %}
              style: 
              {{ item['style']['name'] }}
              {% endif %}
            </article>
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
            <article id="glass">{% if (item['glass'] == NULL) %}
              No glass info available
              {% else %}
              Best served in  
              {{ item['glass']['name'] }} glass.
              {% endif %}
            </article>
            <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'label'-->
            <article id="label">{% if (item['labels'] == NULL) %}
              {% else %} 
               <img src="{{item['labels']['medium']}}" alt="label" height="42" width="42"> 
              {% endif %}
            </article>
          <!--Seperates################################################each entry-->    
      		<hr>
      	</div>
	    {% endfor %}
      {% else %}
      <h3>No beers available by that name.</h3>
    {% endif %}
</body>
</html>
