<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeerStuff</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0-flex.css">

<link href="/static/stylesheets/master.css" rel="stylesheet" type="text/css"/> 
</head>
<body>

<div class="container">

	<nav class="navbar navbar-light bg-faded navbar-fixed-top">
		<!-- Brand -->
		<div class="container">
		<a class="navbar-brand" href="http://127.0.0.1:5000">BeerBud</a>

		<!-- Links -->
		<ul class="nav navbar-nav">
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('randombeer') }}">Random Beer</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="#">Random Brewery</a>
			</li>
		</ul>


		<!-- Search -->
		<form class="form-inline navbar-form pull-left" action="/beer" method="POST" role="search">
			<input type="text" name="text" class="form-control" placeholder="Search">
			<button type="submit" name="input" value="Search" class="btn btn-secondary">Brew!</button>
			<br>
			<input type="radio" name="type" value="beer" checked="checked"> Beer
			<input type="radio" name="type" value="brewery"> Brewery
			<input type="radio" name="type" value="location"> Location
		</form>
		<span class="pull-right"><a class="twitter-follow-button" href="https://twitter.com/BeerBudWebApp" data-size="large" data-show-count="false">Follow @BeerBudWebApp</a></span>
		</div>
	</nav>

	<a class="twitter-timeline" href="https://twitter.com/beerbudwebapp/lists/BeerTweets" data-list-owner-screen-name="beerbudwebapp" data-list-slug="BeerTweets" data-widget-id="600724936517242880">Tweets from BeerTweets list</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	  <div class="navbar navbar-default navbar-fixed-bottom">
	      <p class="navbar-text pull-left">© 2015 - Site Built By Mr. Hansen.
	           <a href="http://127.0.0.1:5000" target="_blank" >BeerBud</a>  
	      </p><!--navbar-text-->
	    </div><!--navbar-->
 
 </div><!--container-->

</body>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

</html>