<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeerStuff</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://cask.scotch.io/bootstrap-4.0-flex.css">

<link href="/static/stylesheets/master.css" rel="stylesheet" type="text/css"/> 
</head>
<body>

<nav class="navbar navbar-light bg-faded navbar-fixed-top">

<!-- Brand -->
<a class="navbar-brand" href="http://127.0.0.1:5000">BeerBud</a>

<!-- Links -->
<ul class="nav navbar-nav">
<li class="nav-item">
<a class="nav-link" href="{{ url_for('randombeer') }}">Random Beer</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Random Brewery</a>
</li>
</ul>

<!-- Search -->
<form class="form-inline navbar-form pull-left" action="/beer" method="POST" role="search">
<input type="text" name="text" class="form-control" placeholder="Search">
<button type="submit" name="input" value="Search" class="btn btn-secondary">Brew!</button>
<br>
<input type="radio" name="type" value="beer" checked="checked"> Beer
<input type="radio" name="type" value="brewery"> Brewery
<input type="radio" name="type" value="location"> Location
</form>
</nav>

<div class="container">
<!--Checks if results is empty, if so print 'no beers available'-->


<div class="col-sm-12">
      <div class="card">
      <div class="card-header">
      {{ results['name'] }} 
      </div>
        <!--When checking for null in sub dicts be sure to only include sub dict name e.g. 'glass'-->
        {% if (results['images'] == NULL) %}
          <img class="card-img-top" src="/static/minibeer.png" align="middle" alt="dark beer" height="240" width="350">
        {% else %} 
          <img class="card-img-top" src="{{results['images']['medium']}}" alt="brewerypicture" height="240" width="350"> 
        {% endif %}
        <div class="card-block">
          <h4 class="card-title" id="brewname">{{ results['name'] }}</h4>
          <p class="card-text" id="brewdescription">
            {% if (results['description'] == NULL) %}
            No description available
            {% else %}
            {{ results['description'] }}
            {% endif %}
          </p>
        <div class="card-block">
            <h4 class="card-title">{{ results['name'] }}</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div><!--card-block-->
    </div><!--card-block-->
</div><!--card-->
</div><!--col-sm-12-->

</div><!--Container-->
</body>
</html>



